<launch>
	<group ns="can0">
		<node name="can_bridge" pkg="socketcan_bridge" type="socketcan_bridge_node">
			<remap from="/can0/sent_messages" to="/can0/sent" />
			<remap from="/can0/received_messages" to="/can0/receive" />
		</node>
	</group>
	<node ns="ms1" name="test" pkg="motor_system" type="motor_system" >
		<param name="id" value="8"/>
	</node>
	<node ns="ms2" name="test" pkg="motor_system" type="motor_system" >
		<param name="id" value="4"/>
	</node>
	<node ns="ms3" name="test" pkg="motor_system" type="motor_system" >
		<param name="id" value="2"/>
	</node>
	<node ns="ms4" name="test" pkg="motor_system" type="motor_system" >
		<param name="id" value="1"/>
	</node>
</launch>
